In [68]:
import pandas as pd

desktop = pd.read_csv('data/desktop-saturday-afternoon/xmits.csv.gz')
laptop = pd.read_csv('data/laptop-saturday-evening/xmits.csv.gz')

In [69]:
desktop.head()

,time,mac,mode,streams,guard,name,airtime,ampdu_len,success
0,68026.782261,ec:08:6b:19:02:9b,HT20,2,SGI,MCS14,74,1,1
1,68026.782421,ec:08:6b:19:02:9b,HT20,2,SGI,MCS14,74,1,1
2,68026.782631,ec:08:6b:19:02:9b,HT20,2,SGI,MCS14,74,1,1
3,68026.787453,ec:08:6b:19:02:9b,HT20,2,SGI,MCS14,74,1,1
4,68026.852576,ec:08:6b:19:02:9b,HT20,2,LGI,MCS9,369,1,0

In [70]:
len(desktop)

1500000

In [71]:
len(desktop[desktop.success == 0])

301184

In [72]:
laptop.head()

,time,mac,mode,streams,guard,name,airtime,ampdu_len,success
0,86118.628411,28:cf:e9:49:d7:09,HT20,2,LGI,MCS15,74,1,1
1,86119.060008,28:cf:e9:49:d7:09,HT20,1,LGI,MCS1,739,1,1
2,86119.972778,28:cf:e9:49:d7:09,HT20,1,SGI,MCS5,166,1,1
3,86124.408567,28:cf:e9:49:d7:09,CCK,1,SP,2.0M,5380,1,1
4,86124.410734,28:cf:e9:49:d7:09,HT20,2,LGI,MCS8,739,1,0

In [73]:
len(laptop)

1500000

In [74]:
len(laptop[laptop.success == 0])

492693